
.Footer {
  width: 100%;
  height: 7vh;
  background-color: rgb(9, 62, 9);
  color: white;          
  display: flex;        
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  font-family: 'kay pho du', sans-serif;
}